# Виртуальное окружение (оно весит сотни мегабайт, его не грузим)
venv/
.venv/
env/

# Переменные окружения (СЕКРЕТНО!)
.env
.env.local

# База данных (SQLite файл меняется локально, его не нужно версионировать)
*.db
*.sqlite
*.sqlite3

# Python кэш (скомпилированные файлы)
__pycache__/
*.py[cod]

# MacOS мусор (так как ты сидишь на маке)
.DS_Store

# Настройки редакторов кода
.idea/
.vscode/